<div class="divSignup">
  <div class="alert alert-light m-1" role="alert">
    <h4 class="text-center">Registre-se para abraçar um novo mundo!</h4>

    <form class="form mt-4" [formGroup]="sigupForm" (submit)="sigup()">
      <div>
        <div class="form-group p-2">
          <input
            formControlName="email"
            placeholder="email"
            class="form-control"
            autofocus
          />

          <app-vmessage
            *ngIf="sigupForm.get('email')?.errors?.['required']"
            text="O email é obrigatório!"
          ></app-vmessage>
          <app-vmessage
            *ngIf="sigupForm.get('email')?.errors?.['email']"
            text="O valor do campo E-mail é inválido!"
          ></app-vmessage>
        </div>

        <div class="form-group p-2">
          <input
            formControlName="fullName"
            placeholder="full name"
            class="form-control"
          />

          <app-vmessage
            *ngIf="sigupForm.get('fullName')?.errors?.['required']"
            text="O campo Full Name é obrigatório!"
          ></app-vmessage>
          <app-vmessage
            *ngIf="sigupForm.get('fullName')?.errors?.['minlength']"
            text="O campo Full Name deve possuir mais de 2 caracteres!"
          ></app-vmessage>
          <app-vmessage
            *ngIf="sigupForm.get('fullName')?.errors?.['maxlength']"
            text="O campo Full Name deve possuir menos de 40 caracteres!"
          ></app-vmessage>
        </div>

        <div class="form-group p-2">
          <input
            formControlName="userName"
            placeholder="user name"
            class="form-control"
          />

          <app-vmessage
            *ngIf="sigupForm.get('userName')?.errors?.['required']"
            text="O nome de usuário é obrigatório!"
          ></app-vmessage>
          <app-vmessage
            *ngIf="sigupForm.get('userName')?.errors?.['minlength']"
            text="O nome de usuário deve possuir mais de 2 caracteres!"
          ></app-vmessage>
          <app-vmessage
            *ngIf="sigupForm.get('userName')?.errors?.['maxlength']"
            text="O nome de usuário deve possuir menos de 30 caracteres!"
          ></app-vmessage>
          <app-vmessage
            *ngIf="sigupForm.get('userName')?.errors?.['lowercase']"
            text="O nome de usuário não pode ter letras maiúsculas"
          ></app-vmessage>
          <app-vmessage
            text="Nome de usuário já existe!"
            *ngIf="sigupForm.get('userName')?.errors?.['userNameTaken']"
          >
          </app-vmessage>
          <small *ngIf="sigupForm.get('userName')?.valid" class="text-success"
            >User available</small
          >
        </div>

        <div class="form-group p-2">
          <input
            formControlName="password"
            type="password"
            placeholder="password"
            class="form-control"
          />

          <app-vmessage
            *ngIf="sigupForm.get('password')?.errors?.['required']"
            text="A senha é obrigatório!"
          ></app-vmessage>
          <app-vmessage
            *ngIf="sigupForm.get('password')?.errors?.['minlength']"
            text="A senha deve possuir mais de 8 caracteres!"
          ></app-vmessage>
          <app-vmessage
            *ngIf="sigupForm.get('password')?.errors?.['maxlength']"
            text="A senha deve possuir menos de 14 caracteres!"
          ></app-vmessage>
        </div>

        <div class="d-grid gap-2 col-6 mx-auto p-2">
          <button
            [disabled]="sigupForm.invalid || sigupForm.pending"
            class="btn btn-primary btn-block"
          >
            Register
          </button>
        </div>

        <div class="alert alert-info link" role="alert">
          <p>
            Já possui cadastro?
            <a [routerLink]="['']" class="alert-link"> Fazer login!</a>
          </p>
        </div>
      </div>
    </form>
  </div>
</div>
