<p class="text-center text-muted" *ngIf="!photos.length">
  Desculpa, nunhum gif encontrado
</p>

<div class="d-flex p-4 justify-content-center">
  <form action="" class="form-floating">
    <input
      type="search"
      class="form-control"
      placeholder="Leave a comment here"
      id="floatingTextarea"
      autofocus
      #buscarInput
      (keyup)="filter = buscarInput.value"
    />
    <!-- Criando um binding de eventos -->
    <label for="floatingTextarea">Buscar</label>
  </form>
</div>

<app-photos [photos]="photos | filterByDescription: filter"></app-photos>
