<div
  *ngIf="!photos.length"
  class="d-flex justify-content-center aling-items-center p-1"
>
  <div class="alert alert-danger" role="alert">
    <p class="text-center text-muted">Nenhum gif encontrado!</p>
  </div>
</div>

<div class="container divPhotos">
  <ol class="list-unstyled">
    <li *ngFor="let cols of rows" class="row">
      <div
        *ngFor="let photo of cols"
        class="col-4 card m-3"
        style="width: 18rem"
        app-darkenOnHover
      >
        <div class="imgCard">
          <app-photo [url]="photo.url" [alt]="photo.alt"></app-photo>
        </div>
        <div class="card-body">
          <p class="card-text">{{ photo.descricao }}</p>
        </div>
        <div class="text-center">
          <i aria-hidden="true" class="fa fa-heart-o fa-1x mr-2"></i>
          <i aria-hidden="true" class="fa fa-comment-o fa-1x mr-2 ml-2"></i>
        </div>
      </div>
    </li>
  </ol>
</div>
